body {
  padding-top: 56px;
}
.graytxt {
	color:#777;
}
.meeting-space {
	width:100% !important;
}
.serenity {
	max-width:150px;
	max-height:200px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.txtcenter {
	text-align:center;
}
.info-box {
	background-color:#dfdfdf;
}
@media screen and (max-width:767px) {
	img#betterhelp-toggle {
		max-width:100%;
	}
}